nav{
    background-color: rgb(32, 50, 78);
   height: 80px;
}
.nav{
    margin-top: 25px;
    color: white;
    font-size: large;
    
}
.logo{
    margin-top: 20px;
}
img{
    width: 200px;
    height: auto;
}
p{
    font-size: x-large;
}
i{
    font-size: x-large;
}
footer{
    background-color:rgb(32, 50, 78); 
    padding: 30px;
}
section{
    padding: 30px;
}
.foot{
    padding: 20px;
}
.head{
    height: 200px;
}
